<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">For The Blind<br></div>
                <div class="intro-lead-in" style="font-family: 'Jeju Gothic', serif; font-style:normal">시각 장애인의 권리를 위하여</div>
                <a href="#intro" class="page-scroll btn btn-xl">더 알아보기</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
